#app4 .circle {
    border: 1px solid red;
    height: 25vh;
    width: 25vh;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 50%;
    transform: 1s;
}

@keyframes change {
    0% {
        border: 1px solid red;
        background: red;
    }

    100% {
        border: 1px solid blue;
        background: blue;
    }
}

#app4 .circle.active {
    animation: change 1s infinite alternate linear;
}